<header>
  <nav class="container">
    <div class="logo">🍎 NutriTrack</div>
    <ul class="nav-links" id="navLinks">
      <li *ngIf="!isLoggedIn"><a routerLink="/">Home</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/">Dashboard</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/kitchen">Kitchen</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/foodlist">Foods</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/scanfood">Scan</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/recipes">Recipes</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/profile">Profile</a></li>
      <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
      <li *ngIf="isLoggedIn"><a style="cursor: pointer;" (click)="logout()">Logout</a></li>
    </ul>
    <div class="mobile-menu" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
</header>